@import "tailwindcss";

@theme {
  --color-papaya: #FF8000;
  --color-papayaDark: #CC6600;
  --color-carbon: #121212;
  --color-asphalt: #1C1C1C;
  --color-steel: #2A2A2A;
}

body {
  margin: 0;
  background-color: #121212;
  color: #E5E5E5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}